.service_card {
    background: rgba(160, 128, 64, 0.3);
    border: 1px dashed #FFCE6D;
    text-align: center;
    padding: 75px 60px 115px;
}

.service_card h3 {
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    color: #FFFFFC;
    margin: 16px 0;
}

.service_card p {
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 0.13em;
    line-height: 155.3%;
    text-transform: capitalize;
    color: #FFFFFC;
}