.about {
    padding-top: 130px;
    padding-bottom: 85px;
}

.about .content {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
}


.about .content .text h2 {
    margin-bottom: 15px;
}

.about .content .text .under_title {
    margin-bottom: 56px;
}

.about .content .text .description {
    width: 568px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.13em;
    line-height: 155%;
    text-transform: capitalize;
    color: #FFFFFC;
    margin-bottom: 50px;
}