nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101418;
  color: #ffffcc;
  width: 998px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 40px;
}
nav ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffcc;
}
nav ul li a:hover{
  color: white;
}
nav .btn_navabar {
  width: 270px;
  height: 76px;
  border: 7px solid #a08040;
  background: #a08040;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  position: relative;
}
nav .btn_navabar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  width: 35px;
  height: 2px;
  background: #fff;
}
nav .btn_navabar::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  width: 35px;
  height: 2px;
  background: #fff;
}

nav .btn_navabar:hover {
  font-size: 24px;
}

nav .btn_navabar:hover::before {
  left: 20px;
}
nav .btn_navabar:hover::after {
  right: 20px;
}
@media (max-width:600px) {
  nav{
    display : none ;
  }
}
