.blogs {
    padding: 50px;
}

.blogs h2{
    text-align: center;
    margin-bottom: 10px;
}

.blogs .under_title {
    text-align: center;
    margin-bottom: 50px;
}

.blogs .content {
    display: flex;
    justify-content: space-between;
}