.blog_card {
  background: #101418b2;
  max-width: 30%;
}

.blog_card img {
  width: 100%;
  max-width: 100%;
}

.blog_card .text {
  padding: 35px 45px;
}

.blog_card .text h3 {
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
  color: #fffffc;
  margin-bottom: 15px;
}

.blog_card .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 155.3%;
  text-transform: capitalize;
  color: #fffffc;
  margin-bottom: 20px;
}

.blog_card .text a {
  font-weight: 400;
  font-size: 14px;
  line-height: 155.3%;
  letter-spacing: 0.13em;
  text-transform: capitalize;
  color: #fffffc;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #ffce6d;
}
@media (max-width:600px) {
  .blog_card{
     min-width: 100%;
     margin: 10px 0 !important;
  }
}
