footer{
  background: var(--background);
  text-align: center;
  display: flex;
  flex-direction: column;
}
footer span{
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}